# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:

* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

python
R
Julia

Some of the commonly used libraries used by Data Scientists include:
numpy
pandas
matplotlib

|Data Science Tools|
|:----------------:|
|Rstudio|
|Apache Spark|
|Apache Hadoop|
|Tensor Flow|
|Jupyter notebook|

### Below are a few examples of evaluating arithmetic expressions in Python
 addition +
subtraction-
multiplication*
division

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Olayinka Durojaye